#header {
  margin-bottom: 20px;
}

#prs {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

.product {
    display: inline-block;
    margin-bottom: 10px;
    
}

.bodys {
    background-color: #212529;
}

.label {
    color: white;
    font-size: 1.2em
}

